name: AWS Lambda Deploy

on:
  push:
    branches:
      - develop
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: GitHubActions

      - name: get-caller-identity is allowed to run on role.
        run: aws sts get-caller-identity

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.11'

      - name: Install dependencies
        run: |
          cd lambda_module
          pip install -r requirements.txt -t .

      - name: Deploy to AWS Lambda
        run: |
          cd lambda_module && zip -r package.zip ./*
          aws lambda update-function-code \
          --function-name ai-paper-summarizer --zip-file fileb://package.zip --publish

      - name: Check Lambda Status
        run: |
          aws lambda wait function-updated-v2 \
          --function-name ai-paper-summarizer

  slack_notification:
    if: ${{ always() }}
    needs: deploy
    uses: ./.github/workflows/slack_notification.yaml
    with:
      lambda-function-name: ai-paper-summarizer
      commit-id: ${{ github.sha }}
      status: ${{ needs.deploy.outputs.outcome }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
